.h-yazi-ortalama {
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .h-yazi-ortalama {
      text-align: center;
      margin-left: 0;
      padding: 3rem; } }

.h-yazi-margin-kucuk {
  margin-bottom: 1.5rem !important; }

.h-yazi-margin-kucuk {
  margin-bottom: -1rem; }

.h-yazi-margin-orta {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .h-yazi-margin-orta {
      margin-bottom: 3rem !important; } }

.h-yazi-margin-orta-3 {
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .h-yazi-margin-orta-3 {
      text-align: center; } }

.h-yazi-margin-kucuk-21 {
  margin-top: -1rem; }
  @media only screen and (max-width: 56.25em) {
    .h-yazi-margin-kucuk-21 {
      margin-top: 1rem;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; } }

a {
  text-decoration: none;
  color: #fff; }

.container {
  padding: 0rem;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background: #fff; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #a55b57;
  color: #fff; }

::-webkit-scrollbar-thumb {
  background: #9E4B47; }

::-webkit-scrollbar {
  background: #fff;
  width: .8rem;
  height: .8rem; }

.hakkimizda-bolumu-anasayfa {
  padding: 0rem 0 2rem;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 56.25em) {
    .hakkimizda-bolumu-anasayfa {
      padding: 2rem 0 2rem;
      margin-top: 0px; } }

.form4 {
  padding: 0rem 0 1rem; }
  @media only screen and (max-width: 56.25em) {
    .form4 {
      padding: 1rem 0 3rem; } }

.fq2 {
  padding: 0rem 0 4rem; }
  @media only screen and (max-width: 56.25em) {
    .fq2 {
      padding: 1rem 0 3rem; } }

.info-featured {
  padding: 2rem 0 0rem;
  background: none;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 56.25em) {
    .info-featured {
      padding: 4rem 0 1rem;
      margin-top: 0px;
      margin-bottom: 0px; } }

.offer-request {
  padding: 1rem 0 2rem;
  background: none;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 56.25em) {
    .offer-request {
      padding: 2rem 0 2rem;
      margin-top: 0px; } }

.serviceb-alani {
  padding: 3rem 0 1rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .serviceb-alani {
      padding: 1rem 0 3rem; } }

.sectionbars4 {
  padding: 0rem 0 6rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .sectionbars4 {
      padding: 1rem 0 3rem;
      margin-top: 0px; } }

.sectionbars4 {
  padding: 2rem 0 4rem;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 56.25em) {
    .sectionbars4 {
      padding: 1rem 0 3rem;
      margin-top: 0px; } }

.processs {
  padding: 1rem 0 3rem; }
  @media only screen and (max-width: 56.25em) {
    .processs {
      padding: 1rem 0 3rem; } }

.team-section {
  padding: 2rem 0 3rem; }
  @media only screen and (max-width: 56.25em) {
    .team-section {
      padding: 2rem 0 3rem; } }

.markalar {
  padding: 1rem 0 2rem;
  background: #fff;
  background-size: cover;
  display: inline-block;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .markalar {
      padding: 2rem 0 2rem; } }

.slider-yazi-icerikleri {
  color: #fff;
  margin-bottom: 2rem;
  backface-visibility: hidden; }
  .slider-yazi-icerikleri--1 {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: solahareket;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
    @media only screen and (max-width: 40em) {
      .slider-yazi-icerikleri--1 {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .slider-yazi-icerikleri--2 {
    display: block;
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: sagahareket 1s ease-out; }
    @media only screen and (max-width: 40em) {
      .slider-yazi-icerikleri--2 {
        letter-spacing: .5rem; } }

.h2-baslik-anasayfa-ozel {
  font-size: 3rem;
  font-weight: 600; }

.paragraf {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000; }
  .paragraf:not(:last-child) {
    margin-bottom: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraf {
      font-size: 3.4rem; } }

.h2-baslik-hizmetler-2 {
  font-size: 2.8rem;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #a55b57, #9E4B47);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .h2-baslik-hizmetler-2__paragraf {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    text-align: center; }
    .h2-baslik-hizmetler-2__paragraf:not(:last-child) {
      margin-bottom: -1rem; }
    @media only screen and (max-width: 56.25em) {
      .h2-baslik-hizmetler-2__paragraf {
        font-size: 3.5rem;
        text-align: center;
        padding: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .h2-baslik-hizmetler-2 {
      font-size: 5rem;
      margin-top: 6rem; } }

.h2-baslik-hizmetler-21 {
  font-size: 3rem;
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .h2-baslik-hizmetler-21__paragraf {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-align: center; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform; }

.swiper-slide-active {
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out; }

.swiper-slide-next {
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }
  .swiper-lazy-preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(\"data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E\");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    content: \"\"; }

.swiper-lazy-preloader-white:after {
  background-image: url(\"data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E\"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.wow {
  visibility: hidden; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #616161; }

.h2-baslik-anasayfa-ozel {
  font-size: 3rem;
  font-weight: 600; }

.h2-baslik-hizmetler-2 {
  font-size: 2.8rem;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #a55b57, #9E4B47);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .h2-baslik-hizmetler-2__paragraf {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    text-align: center; }
    .h2-baslik-hizmetler-2__paragraf:not(:last-child) {
      margin-bottom: -1rem; }
    @media only screen and (max-width: 56.25em) {
      .h2-baslik-hizmetler-2__paragraf {
        font-size: 3.5rem;
        text-align: center;
        padding: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .h2-baslik-hizmetler-2 {
      font-size: 5rem;
      margin-top: 6rem; } }

.h2-baslik-hizmetler-21 {
  font-size: 3rem;
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .h2-baslik-hizmetler-21__paragraf {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-align: center; }

.h2-baslik-hizmetler-2111 {
  font-size: 2.8rem;
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 56.25em) {
    .h2-baslik-hizmetler-2111 {
      font-size: 5rem;
      margin-top: 6rem; } }

.baslik-3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .baslik-3 {
      font-size: 3.9rem;
      text-align: center;
      /*padding: 1rem;*/ } }

.paragraf {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000; }
  .paragraf:not(:last-child) {
    margin-bottom: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraf {
      font-size: 3.4rem; } }

.bosluk3 {
  margin-top: 2rem; }

.bosluksv {
  margin-top: 2rem; }

.bosluk333 {
  margin-top: 1rem; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999999999; }
  .preloader figure {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
    border-radius: 50%;
    -webkit-animation: spiner 1s infinite linear;
    animation: spiner 1s infinite linear;
  tborder-radius: 50%; }
    .preloader figure:after {
      content: \"\";
      position: absolute;
      left: -1px;
      top: -1px;
      width: 100px;
      height: 100px;
      border: 1px solid transparent;
      border-top: 3px solid #a55b57;
      border-radius: 50%;
      -webkit-animation: spiner 1.5s infinite linear;
      animation: spiner 1.5s infinite linear; }
    .preloader figure img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 60px; }

@-webkit-keyframes spiner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes spiner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }
.navbar {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  z-index: 99;
  background: transparent;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .navbar .logo {
    padding: 25px 0;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
    .navbar .logo img {
      max-height: 50px;
      -webkit-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease; }
  .navbar .site-menu {
    margin-left: auto;
    margin-right: 30px; }
    .navbar .site-menu ul li {
      display: inline-block;
      padding: 0;
      list-style: none;
      position: relative; }
      .navbar .site-menu ul li a {
        padding: 45px 17px;
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        color: #141414;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
      .navbar .site-menu ul li .dropdown-menu {
        top: 120%;
        left: 0;
        min-width: 13rem;
        display: block;
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden; }
      .navbar .site-menu ul li:hover .dropdown-menu {
        opacity: 1;
        top: 100%;
        filter: alpha(opacity=100);
        visibility: visible; }
  .navbar .navbar-button {
    margin-left: 20px; }
    .navbar .navbar-button a {
      padding: 10px 22px;
      display: inline-block;
      background: #a55b57;
      color: #fff;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      -webkit-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease; }

.navbar-expand-md .navbar-nav .dropdown-menu a {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 500; }
  .navbar-expand-md .navbar-nav .dropdown-menu a:hover {
    color: #fff;
    background: #9E4B47; }

.navbar.sticky .logo {
  padding: 21px 0; }
.navbar.sticky .site-menu ul li a {
  padding: 32px 17px; }

.slider {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding-bottom: 0;
  position: relative;
  overflow: hidden; }
  .slider .main-slider {
    width: 100%;
    height: 100%; }
    .slider .main-slider .swiper-slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center; }
      .slider .main-slider .swiper-slide .container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2; }
        .slider .main-slider .swiper-slide .container h1 {
          font-size: 60px;
          font-weight: 900;
          letter-spacing: 0px;
          line-height: 70px;
          text-transform: capitalize; }
        .slider .main-slider .swiper-slide .container p {
          font-size: 18px;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 25px;
          line-height: 30px; }
        .slider .main-slider .swiper-slide .container a {
          font-size: 16px;
          font-weight: 700;
          padding: 15px 40px;
          text-decoration: none; }
  .slider .button-prev,
  .slider .button-next {
    position: absolute;
    top: 44%;
    right: 10%;
    width: 50px;
    height: 50px;
    background: #a55b57;
    border-radius: 50%;
    z-index: 2;
  _transition: all 0.4s;
    transition: all 0.4s;
    outline: 0; }
    .slider .button-prev svg,
    .slider .button-next svg {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 25px; }
  .slider .button-prev {
    top: 52%; }
    .slider .button-prev svg {
      width: 20px; }
      .slider .button-prev svg path {
        fill: none;
        stroke: #fff;
  _width: 1.5; }
  .slider .button-next {
    top: 40%; }
    .slider .button-next svg {
      width: 20px; }
      .slider .button-next svg path {
        fill: none;
        stroke: #fff;
        stroke-width: 1.5; }

.side-widget {
  width: 370px;
  height: 100vh;
  display: block;
  background: #fff;
  position: fixed;
  right: -370px;
  top: 0;
  padding: 40px;
  z-index: 999;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .side-widget.active {
    right: 0; }
  .side-widget .logo {
    margin-bottom: 30px; }
    .side-widget .logo img {
      max-height: 40px; }
  .side-widget .site-menu {
    display: none; }
  .side-widget .address {
    font-style: normal; }
    .side-widget .address a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
      color: #141414; }
  .side-widget small {
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-size: 14px; }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 1000;
  cursor: pointer; }
  .hamburger-menu span {
    height: 3px;
    width: 100%;
    background: #fff;
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    .hamburger-menu span:nth-child(1) {
      top: 10px; }
    .hamburger-menu span:nth-child(2) {
      top: 19px; }
    .hamburger-menu span:nth-child(3) {
      top: 28px; }
  .hamburger-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px; }
  .hamburger-menu.open span:nth-child(2) {
    width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .hamburger-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px; }

body.overflow {
  overflow: hidden; }

.page-header {
  width: 100%;
  height: 400px;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .page-header:before {
    content: \"\";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .page-header .container {
    position: relative;
    z-index: 2; }
    .page-header .container h2 {
      font-size: 50px;
      font-weight: 800;
      letter-spacing: -2px;
      line-height: 110px; }
    .page-header .container p {
      font-size: 16px;
      font-weight: 500;
      color: #141414; }
    .page-header .container a {
      font-size: 16px;
      font-weight: 500;
      color: #141414;
      text-decoration: none; }
      .page-header .container a:hover {
        color: #a55b57; }

.footer {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  background: #a55b57;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1; }
  .footer:before {
    content: \"\";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
    filter: alpha(opacity=5);
    background: url(images/patt.png); }
  .footer .widget-title {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase; }
  .footer .footer-menu {
    padding: 0;
    margin: 0; }
    .footer .footer-menu li {
      display: block;
      list-style: none;
      padding: 7px 0;
      position: relative;
      padding-left: 20px; }
      .footer .footer-menu li:before {
        content: \"\";
        width: 6px;
        height: 6px;
        background: #a55b57;
        position: absolute;
        left: 0;
        top: 17px;
        border-radius: 50%; }
      .footer .footer-menu li a {
        text-decoration: none;
        color: #fff;
    D8D;
        font-size: 15px;
        font-weight: 500;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .footer .footer-menu li a:hover {
          color: #fff; }
  .footer .footer-social {
    padding: 0;
    margin: 0; }
    .footer .footer-social li {
      display: inline-block;
      list-style: none;
      margin-right: 10px; }
      .footer .footer-social li a {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #a55b57;
        border: 1px solid rgba(255, 255, 255, 0.1);
C;
        text-decoration: none;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .footer .footer-social li a:hover {
          background: #fff;
          border-color: #fff;
          color: #a55b57; }
  .footer .copyright {
    margin-top: 50px;
  * {
    text-align: left; }

.bosluk3 {
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .bosluk3 {
      margin-top: 10rem; } }

.bosluke5 {
  margin-top: 5rem; }

.hizmet-kutu {
  margin-bottom: 2rem; }
  .hizmet-kutu .kutu-duzen {
    text-align: center;
    padding: 10px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    border-radius: 15px; }
    .hizmet-kutu .kutu-duzen .icon-box {
      position: relative;
      width: 120px;
      height: 120px;
      line-height: 125px;
      border-radius: 5%;
      margin: 0 auto 30px;
      background: #fff; }
      .hizmet-kutu .kutu-duzen .icon-box i {
        position: relative;
        display: inline-block;
        font-size: 70px;
        background: -webkit-linear-gradient(bottom, #259cb9, #33c4e7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .hizmet-kutu .kutu-duzen .icon-box .border-layer {
        position: absolute;
        width: 140px;
        height: 140px;
        left: -10px;
        top: -10px;
        border: 2px solid #a55b57;
        border-radius: 5%;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; }
        .hizmet-kutu .kutu-duzen .icon-box .border-layer:before {
          position: absolute;
          content: '';
          background: #a55b57;
          width: 12px;
          height: 12px;
          left: -6px;
          bottom: 18px;
          border-radius: 5%; }
        .hizmet-kutu .kutu-duzen .icon-box .border-layer:after {
          position: absolute;
          content: '';
          background: #a55b57;
          width: 12px;
          height: 12px;
          right: 18px;
          top: -6px;
          border-radius: 5%; }
    .hizmet-kutu .kutu-duzen h3 {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.4em;
      margin-bottom: 9px;
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s; }
      .hizmet-kutu .kutu-duzen h3 a {
        color: #141414;
        -webkit-transition: .8s;
        -o-transition: .8s;
        transition: .8s; }
    .hizmet-kutu .kutu-duzen p {
      position: relative;
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s; }
  .hizmet-kutu .kutu-duzen:hover {
    background: #9E4B47; }
    .hizmet-kutu .kutu-duzen:hover h3,
    .hizmet-kutu .kutu-duzen:hover h3 a,
    .hizmet-kutu .kutu-duzen:hover p {
      color: #fff; }
    .hizmet-kutu .kutu-duzen:hover .icon-box .border-layer {
      border: 2px solid #fff;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
      .hizmet-kutu .kutu-duzen:hover .icon-box .border-layer:before {
        background: #fff; }
      .hizmet-kutu .kutu-duzen:hover .icon-box .border-layer:after {
        background: #fff; }
    .hizmet-kutu .kutu-duzen:hover .icon-box i {
      background: -webkit-linear-gradient(bottom, #fff, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

/*# sourceMappingURL=style.css.map */